parameters:
    level: max
    tmpDir: cache/phpstan
    paths:
        - src
        - tests
    excludePaths:
        - vendor
        - src/Http/CurlHttp.php
    bootstrapFiles:
        - tests/bootstrap.php